.bird {
  background: brown;
  border-radius: 45%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

@keyframes fall {
  from {
    trasform: translateY(0%);
  }
  to {
    transform: translateY(1325px);
  }
}

@keyframes jump{
  from{
    transform: translateY(0%);
  }
  to {
    transform: translateY(100px)
  }
}

#game-over-display{
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  text-align: center;
  top: 5%;


}